<!doctype html>
<html lang="ru">
{# Основной файл HTML-структуры #}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- CSS only -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"-->
<!--          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Кубышка-4303</title>
</head>
<body>
<header>
    <div class="wrapper head-wrapper container-fluid">
        <a href="https://it-cube43.ru/03" class="head-icon"><img
                src="{{ url_for('static', filename='images/favicon.ico') }}" alt=""/></a>
        <!--        {% if not current_user.is_authenticated %}-->
        <!--        <div class="head-itcube navbar-brand">-->
        <!--            <a href="https://it-cube43.ru/03">IT-куб.Белая Холуница</a>-->
        <!--            <p>Учебный год {{ g.YEAR }}/{{ g.YEAR + 1 }}</p>-->
        <!--        </div>-->
        <!--        {% endif %}-->
        <div class="head-title">
            {% block header00 %}{% endblock %}
        </div>
        <div class="head-flash">{% block header02 %}{% endblock %}</div>
        <div class="head-menu">
            <ul class="head-links">
                {% if current_user.is_authenticated %}
                <li><a href="/journ" class="std-link">Журналы</a></li>
                <li><a href="/main" class="std-link">Расписание</a></li>
                <li><a href="/groups" class="std-link">Уч.группы</a></li>
                <li><a href="/stat" class="std-link">Статистика</a></li>
                <li><a href="/stat/kv" class="std-link">Квартальная отч.</a></li>
                <li><a href="/tech2021/result" class="std-link">Технодиктант 2021</a></li>
                <li><a href="/zreg" class="std-link">Заявления на {{ g.year_future }}/{{ g.year_future + 1 }}уч.год</a></li>
                {% else %}
                <li><a href="/zreg/start" class="std-link">Регистрация заявлений на {{ g.year_future }}/{{ g.year_future + 1 }}уч.год</a></li>
                {% endif %}
            </ul>
            {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{ cat }}">{{ msg }}</div>
            {% endfor %}
            <div class="head-login">
                {% if current_user.is_authenticated %}<a>Пользователь в системе:</a>
                <a href="/logout" class="std-link"><h4>{{ current_user.name }}</h4></a>
                {% else %}
                <a href="/login2" class="std-link">Войти</a>
                {% endif %}
            </div>
        </div>
        <button class="head-menu-open"><img src="{{ url_for('static', filename='images/menu-btn.png') }}" alt=""/>
        </button>
    </div>
</header>

<main>
    <div class="wrapper main-wrapper">
        <nav class="main-nav">
            <div class="nav-wrapper">{% block left_column %}{% endblock %}</div>
        </nav>
        <div class="main-data">
            <div class="data-wrapper">{% block content %}{% endblock %}</div>
        </div>
    </div>
</main>

<footer>
    <div class="wrapper footer-wrapper">
        <div class="footer-copy">Кубышка {{g.VERSION}} (c) Falcon LTD. - Уч.год:
            <a href="/change_year"> {{ g.YEAR }}</a>
            /{{ g.YEAR + 1 }}гг.
        </div>
        <div>{% block footer01 %}{% endblock %}</div>
        <div>{% block footer02 %}{% endblock %}</div>
        <div>{% block footer03 %}{% endblock %}</div>
        <div>{% block footer04 %}<a class="bottom_line">{{ session['access'] }}</a>{% endblock %}</div>
    </div>
</footer>

<span class="dark-screen"></span>
<button class="filter-open"><img src="{{ url_for('static', filename='images/filter-btn.png') }}" alt=""/></button>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">

</script>

<script>
    var menu = document.querySelector('.head-menu');
    var menu_open_btn = document.querySelector('.head-menu-open');
    var nav_filter = document.querySelector('.main-nav');
    var filter_open_btn = document.querySelector('.filter-open');
    var dark_screen = document.querySelector('.dark-screen');
    var menu_is_open = false;
    var nav_filter_is_open = false;

    menu_open_btn.addEventListener('click', () => {
        menu.style.transform = 'translateX(0%)';
        dark_screen.style.display = 'block';
        menu_is_open = true;
    });

    filter_open_btn.addEventListener('click', () => {
        nav_filter.style.display = 'flex';
        dark_screen.style.display = 'block';
        nav_filter_is_open = true;
    });

    dark_screen.addEventListener('click', () => {
        dark_screen.style.display = '';
        menu.style.transform = '';
        nav_filter.style.display = '';

        nav_filter_is_open = false;
        menu_is_open = false;
    });

    nav_filter.addEventListener('change', (e) => {
        if (e.target.tagName === 'SELECT') {
            const form = e.target.closest('form');
            try {
                form.submit();
            } catch {
                form.submit.click();
            }
        }
    });
</script>
