{% extends "base.html" %}

{% block body %}
<a href="/">
<button class="my-button-top"><img width="260" src="{{ url_for('static', filename='images/title.png') }}" alt=""/>
        </button>
    </a>
        <h4>Текущее голосование: {{ number }}</h4>
        <h4>Работа: {{ film_id }}</h4>
        <h4>Голосует участников: {{ count_users }}</h4>
    <div class="btn-container">
    <form id="autoRefreshForm"  method="POST">
        <button id="button-heart" class="my-button" type="submit">Обновить!</button>
    </form>
        </div>
      <table class="table">
        <tbody>
        <tr>
          <th>Наименование</th>
          <th>Голосов</th>
        </tr>
        {% for item in count_votes %}
        <tr>
          <td>{{item[1]}}</td>
          <td align="center">{{item[0]}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock %}
