<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
<a href="/">
<button width="250"><img src="{{ url_for('static', filename='images/title.png') }}" alt=""/>
        </button>
    </a>
        <h4>Текущее голосование: {{ number }}</h4>
        <h4>Название работы: {{ film_id }}</h4>
        <h4>Голосует участников: {{ count_users }}</h4>
    <h3>
    <form method="POST">
        <p><button class="button" type="submit"><h3>Обновить!</h3></button></p>
    </form>
      <table class="table" border="2" cellpadding="5">
        <tbody>
        <tr>
          <th>Наименование работы</th>
          <th>Проголосовало</th>
        </tr>
        {% for item in count_votes %}
        <tr>
          <td>{{item[1]}}</td>
          <td align="center">{{item[0]}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
        </h3>
</body>
</html>
