<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Welcome</title>
</head>
<body>
<div class="main-window">
<a href="/">
<button><img width="340" src="{{ url_for('static', filename='images/title.png') }}" alt=""/>
        </button>
    </a>
        <h4>Текущее голосование: {{ number }}</h4>
        <h4>Название работы: {{ film_id }}</h4>
        <h4>Голосует участников: {{ count_users }}</h4>
    <form method="POST">
        <p><button class="my-button" type="submit">Обновить!</button></p>
    </form>
      <table class="table">
        <tbody>
        <tr>
          <th>Наименование работы</th>
          <th>Голосов</th>
        </tr>
        {% for item in count_votes %}
        <tr>
          <td>{{item[1]}}</td>
          <td align="center">{{item[0]}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
</body>
</html>
