{% extends "base.html" %}

{% block body %}
<form id="autoRefreshForm" method="GET">
    <div id="button-heart">
            <button class="my-button-top"
                    type="refresh"><img width="260"
                                       src="{{ url_for('static', filename='images/title.png') }}"
                                       alt=""/>
            </button>
        </form>
        {% if alert %}
        <div class="winner">!!! ПОЛУЧИ ПРИЗ !!!</div>
        {% else %}
        <div class="vote">Голосование не началось...</div>
        {% endif %}

        <div class="winner">
            {% if alert %}
            <img class="smile" width="200" src="{{ url_for('static', filename='images/smile_like.png') }}" alt=""/>
            {% else %}
            <img class="smile" width="280" src="{{ url_for('static', filename='images/voteflow-5555.png') }}" alt=""/>
            {% endif %}
        </div>
    </div>
</form>

{% endblock %}