{% extends "base.html" %}

{% block body %}
    <button class="my-button-top" onclick="window.location.href='/stat'">
        <img width="300" src="{{ url_for('static', filename='images/title.png') }}" alt=""/>
    </button>

    <div class="user-info">
        {% if old_vote < 0 %}
        Вы голосуете с адреса: {{ user }}!
        {% else %}
        Ваш голос учтен: {{old_vote}} баллов
        {% endif %}
    </div>

    <div>
        <table class="table">
            <tbody>
            <tr>
                <th>
                    <div class="vote-number"> Работа №<div id="number">{{number}}</div></div>
                </th>
            </tr>
            <tr>
                <td>
                    <div class="vote-number">{{film_name}}</div>
                </td>
            </tr>
            </tbody>
        </table>

        <form id="autoRefreshForm" method="POST">
            <table class="smile_table">
                <tbody>
                <tr>
                    <th><img width="60" src="{{ url_for('static', filename='images/smile_not_like.png') }}" alt=""/>
                    </th>
                    <th>Оцените работу:</th>
                    <th><img width="60" src="{{ url_for('static', filename='images/smile_like.png') }}" alt=""/></th>
                </tr>
                </tbody>
            </table>
            <div class="slider-container">
                <input name="range" type="range" min="0" max="{{max_vote}}" value="{{old_vote}}" class="range-slider"
                       id="volume-slider">
                <div class="value-popup" id="volume-popup"></div>
            </div>

            <div class="btn-container">
                <button class="my-button" type="submit">
                    <div id="button-heart" class="btn-content">
                        <img width="280" src="{{ url_for('static', filename='images/vote.png') }}" alt=""/>
                    </div>
                </button>
            </div>
        </form>
    </div>

    <div class="qrcode-container">
        <img width="150" src="{{ url_for('static', filename='images/voteflow-5555.png') }}" alt=""/>
    </div>
{% endblock %}