<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Welcome</title>
</head>
<body>
<div class="main-window">
    <h1>
        {% if alert %}
    <div class="winner">!!! ПОЛУЧИ ПРИЗ !!!</div>
     {% else %}
    Голосование не началось...
    {% endif %}
    </h1>
    <h1>
    <form method="GET">
<button class="my-button" type="submit"><img width="340" src="{{ url_for('static', filename='images/title.png') }}" alt=""/>
        </button>
    </form>
        </h1>
        <div>
    <img width="280" src="{{ url_for('static', filename='images/voteflow-5555.png') }}" alt=""/>
    </div>

</div>
</body>
</html>
