<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    {% if old_vote < 0 %}
        <h4>Вы голосуете с адреса: {{ user }}!</h4>
    {% else %}
        <h1>Ваш голос учтен: {{old_vote}} баллов</h1>
    {% endif %}
    <h2>Голосование №{{number}}</h2>
    <h1> Название работы: {{film_name}}</h1>
    <h1>
    <form method="POST">
        <p><label>Оцените работу: <input name="range" type="range" min="0" max="10" value="{{old_vote}}" step="1"></label></p>
        <p><button class="button" type="submit">Принять решение!</button></p>

    </form>
        </h1>
</body>
</html>
