{% extends "base.html" %}

{% block body %}
    <form id="autoRefreshForm" method="GET">
<button class="my-button-top" type="submit"><img width="300" src="{{ url_for('static', filename='images/title.png') }}" alt=""/>
        </button>
    </form>
       {% if alert %}
    <div class="winner">!!! ПОЛУЧИ ПРИЗ !!!</div>
     {% else %}
    <div class="vote">Голосование не началось...</div>
    {% endif %}

        <div class="winner">
        {% if alert %}
            <img width="200" src="{{ url_for('static', filename='images/smile_like.png') }}" alt=""/>
     {% else %}
        <img width="280" src="{{ url_for('static', filename='images/voteflow-5555.png') }}" alt=""/>
    {% endif %}
    </div>

{% endblock %}