:root {
    --color-bg: #fbfbfb;
    --color-fg: #ffffff;
    --color-border: #cbcbcb;
    --color-border-dark: #878787;
    --color-accent: #377ba8;
    --color-accent-light: #4e9acd;

    --wrapper-width-max: 1900px;

    --nav-width-max: 400px;
    --nav-width-min: 320px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: var(--color-fg);
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--color-border);
}

main {
    width: 100%;
    flex-grow: 1;
    max-height: calc(100% - 168px);
}

footer {
    background-color: var(--color-fg);
    width: 100%;
    height: 48px;
    flex-shrink: 0;
    border-top: 1px solid var(--color-border);
}

th, td {
    padding: 4px;
}

.zmain_menu {
    padding: 10px;
    border: double;
    align-items: center;
}

.zitem_menu {
    margin: 5px;
    padding: 5px;
    min-width: 80%;
    text-align: center;
    font-size: large;
    border-style: outset;
    border-color: lightgray;
    border-width: thick;
    background-color: lightgray;
}

.flt_butts {
    width: 100%;
    font-size: 11pt;
    text-align: center;
    margin-top: 5px;
}

.commit-new {
    color: black;
    background-color: #AEFFC5;
}

.commit-old {
    color: #999999;
    background-color: #eeeeee;
}

.text-ul {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
    list-style-type: square;
    font-size: medium;
}

.text-li {
    margin-bottom: 10px;
}

.text-title {
    flex-grow: 1;
    text-align: center;
    font-size: 18pt;
    font-weight: normal;
}


.wrapper {
    max-width: var(--wrapper-width-max);
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1; /*flex-wrap: wrap;*/
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header styles */

.head-icon {
    width: 75px;
    height: 75px;
    margin: 0 20px 0;
    flex-shrink: 0;
}

.head-icon img {
    width: 100%;
    height: 100%;
}

.head-itcube {
    font-size: 14pt;
    line-height: 40px;
}

.head-itcube a {
    color: var(--color-accent);
}

.head-title {
    flex-grow: 1;
    text-align: left;
    font-size: 20pt;
    font-weight: bold;
    text-shadow: 3px 3px .4em gray;

}

.head-title a {
    color: var(--color-accent);
}

.head-flash {
    color: brown;
    font-weight: bold;
    font-size: larger;
    text-align: right;
}

.head-menu {
    display: flex;
    align-items: center;
    transition: all 0.2s linear 0s;
}

.head-login {
    font-size: 13pt;
    text-align: center; /*line-height: 40px;*/
}

.head-login a {
    display: block;
    color: var(--color-accent);
}

.head-links {
    flex-wrap: wrap;
    list-style: none;
    margin: 0 40px;
    height: 100%;
    display: flex;
    align-items: center;
}

.head-links li {
    padding: 10px 20px;
}

.head-links li a {
    font-size: 14pt;
    font-weight: bold;
}

.head-menu-open {
    display: none;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: var(--color-fg);
    flex-shrink: 0;
}

.head-menu-open:hover {
    cursor: pointer;
}

.head-menu-open img {
    width: 100%;
    height: 100%;
}

/* main styles */

.main-nav {
    max-width: var(--nav-width-max);
    min-width: var(--nav-width-min);
    flex-shrink: 0;
    overflow: auto;
    padding: inherit;
}

.nav-wrapper {
    padding: 10px 0;
    background-color: var(--color-fg);
    border: 0px solid var(--color-border);
    margin: 5px 0;
}

.main-data {
    padding: inherit;
    width: 960px;
    /*height: 100%;*/
    flex-grow: 1;
    overflow: auto;
    margin: 7px 0;
}

.nav-sbmt {
    margin: 0px 10px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.nav-sbmt input {
    max-width: 168px;
    height: 36px;
    font-size: 12pt;
    font-weight: bold;
    color: #fff;
    background-color: var(--color-accent);
    border: 1px solid black;
    flex-grow: 1;
    margin-left: 5px;
    margin-top: 5px;
}

.nav-sbmt input:hover {
    cursor: pointer;
    background-color: var(--color-accent-light);
}

.nav-params {
    margin: 0 0 10px 0px;
    border: 1px solid var(--color-border-dark);
    padding: 5px;
    display: grid;
    grid-template-columns: 35% 65%;
    line-height: 20px;

}

.z-params {
    align-items: normal;
    border: 1px solid var(--color-border-dark);
    padding: 5px;
    display: grid;
    grid-template-columns: 10px 150px 50%;
    line-height: 25px;
}

.main-content {
    border: 1px solid var(--color-border-dark);
    padding: 5px;
    display: grid;
    grid-template-columns: 30% 50%;
    line-height: 30px;
}

.title-content {
    font-size: 18px;
    font-weight: bold;
}

.form-control {
    font-size: 12pt;
    align-items: center;
}

.nav-left {
    font-size: 14px;
    margin-right: 10px;
    line-height: 14pt;
    font-weight: bold;
    padding: 4px 10px;
    word-break: break-word;
}

.nav-right {
    display: flex;
    align-items: center;
    font-size: 14px;
    min-width: 30px;
    min-height: 30px;
    padding: inherit;
    margin-bottom: 2px;
    margin-top: 2px;
}

.znav-right {
    font-size: 16px;
    display: flex;
    align-items: center;
    min-height: 30px;
    padding: inherit;
    margin-bottom: 4px;
    min-width: 100%;

}


.nav-right select, .nav-right input, .nav-right textarea {
    width: 100%;
    font-size: 11pt;
    text-align: center;
}

.nav-right select {
    text-align: center;
}

.nav-right textarea {
    height: 50pt;
}

.data-wrapper {
    min-width: fit-content;
    margin: 5px 0 10px 5px;
    background-color: var(--color-fg);
    padding: 10px;
    border: 0px solid var(--color-border);
}

.data-wrapper table {
    border-collapse: collapse;
    margin: 0 auto;
    min-width: 100%;
}

.data-wrapper table a {
    color: var(--color-accent);
}

.table_head {
    font-size: 16px;
    /*font-family: ui-monospace;*/
    text-align: center;
    background-color: #ddd;
    color: #136113;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.table_body {
    background-color: #fff;
    font-size: 14px;
    font-family: ui-monospace;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.tb80 {
    color: crimson;
    font-weight: bold;
}

.tb90 {
    color: goldenrod;
}

.tb100 {
    color: #AEFFC5;
    background-color: #136113;
}

/* footer styles */

.footer-copy {
    font-weight: bold;
    font-size: 10pt;
}

/* additional styles */

.icon_star {
    width: 16px;
    height: 16px;
}

.icon_smile {
    width: 22px;
    height: 22px;
}

.main_head {
    font-size: 18pt;
    font-weight: bold;
    font-family: "Arial", monospace;
    margin: 20px auto;
}

.bg0 {
    background-color: #eee;
}

.bg20 {
    background-color: #999;
}

.bg80 {
    background-color: #cfc;
}

.wrong_answer {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    background-color: #a66;
}

.true_answer {
    font-size: 12px;
    color: #0c0;
    font-weight: bold;
    background-color: #efe;
}

.table_tech {
    font-size: 14px;
    font-family: ui-monospace;
    text-align: center;
    background-color: #eee;
}
.table_tech_disable {
    font-size: 14px;
    color: #21DB56;
    font-family: ui-monospace;
    text-align: center;
    background-color: #eee;
}


.table_tech_h {
    font-weight: bold;
}

.base_head {
    background-color: #dfd;
}

.pro_head {
    background-color: #fdd;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon32 {
    width: 32px;
    height: 32px;
}

.picture {
    width: 300px;
}

.list_check {
    height: 20px;
    width: 20px;
}
.list_check_disabled {
    color: red;
    font-weight: bold;
    height: 20px;
    width: 20px;
}


.list_fields {
    text-align: center;
    width: 100%;
    font-size: 12pt;
}

.flash {
    font-size: medium;
    font-weight: bold;
    color: black;
    padding: 0.5em;
    margin-right: 20px;
}

.flash.success {
    border: 1px solid #21DB56;
    background: #AEFFC5;
}

.flash.error {
    border: 1px solid #FF4343;
    background: #FF9C9C;
}

.table-course {
    font-size: 14px;
}

.error {
    background: #f0d6d6;
    padding: 0.5em;
}

.main_table {
    border-collapse: collapse;
    width: 100%;
}

.std-link {
    color: var(--color-accent);
}

.std-link:hover {
    color: var(--color-accent-light);
    cursor: pointer;
}

.dark-screen {
    display: none;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.filter-open {
    display: none;
    position: fixed;
    top: 40px;
    left: 8px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid var(--color-border-dark);
    border-radius: 25%;
}

.filter-open:hover {
    cursor: pointer;
    background-color: var(--color-accent);
}

.filter-open img {
    width: 100%;
    height: 100%;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
}

.login-form p input {
    width: 100%;
}

.login-form p label {
    margin-top: 10px;
    display: inline-block;
}

.login-form #remember_me {
    width: min-content;
}

.login-btn {
    width: 150px;
    height: 30px;
    margin-top: 20px;
}

.login-btn:hover {
    cursor: pointer;
}

.login-message {
    margin-top: 10px;
    color: red;
}

.content-form {
    max-width: 50%;
    margin: 0 auto;
}

/* media */

@media screen and (max-width: 1300px) {
    .wrapper {
        padding: 0 5px;
    }

    .head-title {
        font-size: 18pt;
        text-align: left;
        text-shadow: 2px 2px .4em gray;
    }

    .head-links {
        margin: 0 5px;
    }

    .head-links li {
        padding: 10px 10px;
    }

    .head-links li a {
        font-size: 13pt;
    }
}

@media screen and (max-width: 1000px) {
    header {
        height: 60px;
    }

    .head-itcube {
        display: none;
    }

    .head-icon {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .head-title {
        font-size: 16pt;
        margin-left: 0;
        text-align: center;
    }

    .head-menu {
        position: absolute;
        z-index: 101; /*display: none;*/
        transform: translateX(-100%);
        top: 0;
        left: 0;
        margin: 0;
        max-width: 320px;
        width: 90%;
        height: 100%;
        flex-direction: column;
        background-color: #fff; /*overflow: auto;*/
        padding: 10px;
    }

    .head-links {
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: auto;
        width: 80%;
    }

    .head-links li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid var(--color-border);
    }

    .head-links li a {
        display: block;
    }

    .head-login {
    }

    .head-menu-open {
        display: block;
    }

    main {
        max-height: calc(100% - 108px);
    }

    .main-nav {
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .main-nav {
        display: none;
    }

    .nav-wrapper {
        z-index: 101;
        padding: 10px;
    }

    .data-wrapper {
        margin-left: 0;
    }

    .filter-open {
        display: block;
    }

    .content-form {
        max-width: unset;
    }

    /*.dark-screen { display: block; }
    .head-menu  { display: flex; }*/
}
